
	<div id="homepage-div">

		<!-- overlay -->
		<div class="overlay"></div>
		<!-- video -->
		<video autoplay muted id="myVideo">
		</video>
		<!-- Content -->
		<div class="container" id="main-container">
			<div class="row" id="top-row">

				<div class="col-xl-12">
					<h2 class="main-title" id="secret-text">The Secret </br>Files</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">

					<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ratione quod alias
						consequuntur praesentium unde
						quisquam excepturi est minus sunt doloribus ipsum animi odit, soluta consequatur quas optio? Numquam, eaque.
					</p>
					<form id="homepage-search-form">
						<input type="text" id="search-box" placeholder="Robert Downey Jr.">
						<button type="submit" id="search-btn">Search</button>
					</form>
				</div>
			</div>
		</div>

	</div>