<div class="container-fluid" id="profile-container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand main-title" id="secret-text">The Secret Files</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <form class="form-inline ml-auto">
        <input type="text" id="search-box-nav" placeholder="Robert Downey Jr.">
        <button class="search-btn" id="search-btn-nav">Search</button>
      </form>
    </div>
  </nav>

  <div class="row" id="profile-banner">
    <div class="img-overlay"></div>
    <div class="col-xl-12">

      <div class="d-flex justify-content-center" id="banner-info">
        <p id="character-name">Character Name</p>
        <img class="justify-content-center" src="https://upload.wikimedia.org/wikipedia/en/c/c7/Human_Torch_%28Johnny_Storm%29.png"
         alt="" id="profile-image">
        <p id="actor-name">Actor Dropdown</p>
      </div>

    </div>
  </div>

  
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="info-panel">
          
          <h4>Bio</h4>
          <p>This is where the bio goes</p>
        </div>
      </div>
      
      
    </div>
    <div class="row">

      <div class="col-xl-3">
        <div class="info-panel">
          <div>
            <h4>First Appearance</h4>
            <p id="first-appearance">Blah Blah</p>
          </div>
          <div>
            <h4>Creators</h4>
          </div>
          
        </div>
      </div>
      <div class="col-xl-9">
        <div class="row">
          <div class="col-xl-12">
            <div class="info-panel">
              <h4>Comics</h4>
              <p>This is where the comics go.</p>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="info-panel">
              
              <h4>Events</h4>
              <p>This is where the events go.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>