/*
--------------
TAGS
--------------
*/

ul {
  list-style-type: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
/*
--------------
Navbar
--------------
*/

#page-navbar {
  display: none;
}
/*
--------------
Overlay
--------------
*/

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #00000052;
  position: fixed;
  z-index: 1;
  top: 0;
}

/*
--------------
Main Container
--------------
*/
#homepage-div {
  display: block;
  overflow: hidden;
}
.main-title {
  font-family: "Roboto Mono", sans-serif;
  transition: all 0.5s ease;
  position: relative;
  color: #ffffff !important;
  z-index: 10;
}

#files-text {
  left: 0;
  top: 0;
}

#top-row {
  position: relative;
  z-index: 2;
  margin-top: 30vh;
  color: #ffffff;
}

#description {
  position: relative;
  z-index: 2;
  color: #ffffff;
  width: 50%;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}

.search-box-div {
  position: absolute;
  right: 305px;
  top: 70%;
  width: 63%;
  transition: all 0.5s ease;
}
#search-box {
  position: relative;
  height: 50px;
  width: 50%;
  z-index: 2;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}

#search-btn {
  background-color: #ed1d24;
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 0;
  top: 0;
  min-height: 50px;
  transition: all 0.5s ease;
  padding-left: 25px;
  padding-right: 25px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*
--------------
Search Content
--------------
*/

.flex-display {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 3;
}

.flex-display:hover {
  overflow: auto;
}

.images {
  opacity: 0;
  transition: all 0.5s ease;
}
.image-container {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 250px;
  margin-right: 20px;
  width: 250px;
}

.character-name {
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
  color: #000000;
  margin-top: 20px;
}

/* 
---------------
Loading
---------------
*/

#loading-wrapper {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: -100%;
}
#loading-container {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
/* 
---------------
Results Page
---------------
*/

#results-div {
  display: none;
  overflow: auto;
}

#results-row {
  margin-top: 20px;
}
